.env
.env.*
!.env.example

.venv
**/.venv

.cursor
**/.cursor

__pycache__
**/__pycache__
*.pyc
*.pyo

.git
.gitignore

.langgraph_api
**/.langgraph_api

.DS_Store
**/.DS_Store

*.pem
*.key
*.crt
*.cert

tmp
**/tmp
